body{
	background-color: #d6d6d6;
	padding: 5rem 0 5rem 0;
}

.firstBid{
	font-weight: bold;
	margin-top: 15px;
}

.active{
	color: green;
}

.card{
	margin-top: 2rem;
}

.hide{
	display: none;
}

.input-group-append {
    margin-left: 10px;
}